

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  
  color: #ffffff;
  
  background-image: url(../img/background1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1090px;
  min-height: 100vh;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gradient-border {
  position: relative;
  background: linear-gradient(to bottom, white, black);
  padding: 0.5%;
}


.header {
  display: flex;
  justify-content: space-between;

}

.header_logo {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

.header_logo:hover {
  filter: invert(51%) sepia(40%) saturate(4043%) hue-rotate(347deg)
 brightness(97%) contrast(96%);
}

.header-logo-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  font-size: 18px;

  text-transform: uppercase;
  color: #ffffff;
}

.header-logo-name > span {
font-size: 28px;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

.header-contacts a{
font-size: 18px;
line-height: 18px;
color: #ffffff;
text-decoration: none;
}


.header-contacts-tel:hover,
.header-contacts-mail:hover {
  color: #f26522;
}



.main {
  display: flex;
  flex-wrap: wrap;
  gap: 37px 63px;
  justify-content: space-between;
  padding: 2% 0;
}

.main-item {
  max-width: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #ffffff;
}

.main-item-image {
  max-width: 320px;
  min-height: 220px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.pic1 {
  background-image:url(../img/image5.png);
}
.pic2 {
  background-image: url(../img/image4.png);
}
.pic3 {
  background-image: url(../img/image3.png);
}
.pic4 {
  background-image: url(../img/image2.png);
}
.pic5 {
  background-image: url(../img/image1.png);
}
.pic6 {
  background-image: url(../img/image.png);
}

.main-item-header {
text-align: center;
padding: 6%;
transition: 0.3s;
}

.main-item-image-hover {
  margin: 0 0 -25% 0;
  transition: 0.3s;
  
}

.main-item:hover .main-item-image-hover {
  margin: 0;
}

.main-item:hover > .main-item-header {
  color: #f26522;
}

.main-item-image-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 3.8rem;
  padding: 2% 6%;
  background-color: #f26522;

}

.main-item-image-desc > p:first-child {
  font-size: 10px;
  
}

.main-item-image-desc-det {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  text-decoration: none;
}

.main-item-image-desc-det > span:first-child {
  font-size: 20px;
  flex-grow: 1;
}

.main-item-image-desc-det::after {
  content: url(../img/arrow.svg);
  padding-left: 6%;
}


.footer {
   display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 15px;
}

.icon_footer{
    font-size: 12px;
    line-height: 12px;
}

.viewsign {
  position: relative;
  padding-right: 15px;
}
.viewsign:after {
  content: "";
  width: 5px;
  height: 5px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}